
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* reset */

button {
    padding: 0;
    cursor: pointer;
}

body {
    margin: 0;
    font-family: 'Poppins';
    color: #000000;
}

html{
    box-sizing: border-box;
}
  html *, ::after, ::before{
    box-sizing: inherit;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
h4, h5, h6, h1, h2, h3, p{
    margin: 0;
}
.link {
    text-decoration: none;
}
p{
    color: #8F95A5;
}
/* container */
.header-container{
    display: flex;
    align-items: center;
    max-width: 320px;
    padding-left: 14px;
    padding-right: 16px;
    padding-top: 36px;
    position: relative;
    margin: 0 auto;
}
/* header */
.header-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
}
.lex {
    color: #939393;
}
.nav {
    display: none;
}
.nav-menu-list {
    display: flex;
    align-items: center;
    gap: 31px;
    margin-left: 167px;
    margin-right: 100px;
}
.nav-menu-item {
}
.nav-menu-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #262626;

}
.a-btn {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    color: #000000;
    width: 160px;
    height: 50px;
    padding: 12px 38px 11px;
    border: 2px solid #263238;
    border-radius: 5px;
}
.btn-head {
    position: absolute;
    top: 46px;
    right: 16px;
    background-color: transparent;
    border: transparent;
}
.modal-nav-menu-item-link{
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.header-title-modal{
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    display: block;
    padding-bottom: 20px;
}
.nav-modal{
    margin-top: 20px;
    position: relative;
}
.nav-modal::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #c4c4c4;
}
.btn-modal-head{
    position: absolute;
    top: 33px;
    right: 16px;
    background-color: transparent;
    border: transparent;
}
.a-btn-modal{
    color: #000000;
    padding: 17px 100px 18px;
    border: 2px solid #263238;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 69px;
}
.btn-head-svg-modal{
    width: 17px;
    height: 17px;
}
.nav-menu-modal-list{
    gap: 48px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 69px;
}
/* modal */
.modal{
    position: fixed;
    top: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding-top: 25px;
    padding-right: 7px;
    padding-left: 15px;
    overflow: scroll;
}
/*main*/
/*main-head*/
.main-head{
    padding-top: 29px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 53px;
}
.head-title>span{
    display: block;
}
.head-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    position: relative;
}
.img-main-head{
    width: 299px;
    height: 299px;
    margin-top: 29px;
    margin-bottom: 16px;
}
.div-main-head p{
    margin-top: 20px;
    margin-bottom: 33px;
    font-size: 14px;
    line-height: 1.5;
    color: #939393;
}
.btn-main-head{
    padding: 18px 99px;
    border: transparent;
    border-radius: 5px;
    background: #263238;
    max-width: 289px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    
}
.div-main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.div-main-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 29px;
    padding-left: 11px;
    padding-right: 11px;
    max-width: 320px;
}
.head-title::after{
        content: '';
        display: none;
        position: absolute;
        top: 50%;
        left: 217px;
        width: 55px;
        height: 55px;
        background-image: url(../img/lighit.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
}
/*skill*/
.skills {
    padding-top: 53px;
}
.skill-h2{
    font-weight: 600;
    font-size: 24px;
    line-height: 3.3;
    text-align: center;
}

.skill-list{
    display: grid;
    gap: 21px;
}

.skill-list-li{
    position: relative;
    background-color: #F5F5F5;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 45px;
    padding-right: 16px;
    padding-left: 13px;
}

.skill-svg{
    display: block;
    margin: 0 auto;
}
.skill-div{
    margin: 0 auto;
}

.skill-li-h3{
    margin-top: 16px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: #263238;
}

.skill-list-li-p{
    margin-left: 3px;
    font-size: 13px;
    line-height: 1.5;
}

.skill-list-li-p + .skill-list-li-p{
    margin-top: 30px;
}


.skill-btn{
    margin-left: 3px;
    margin-top: 36px;
    padding: 14px 43px;
    border: transparent;
    border-radius: 5px;
    font-size: 14px;
    line-height: 21px;
    background-color: #263238;
    color: #FFFFFF;
}
/*about-us*/
.about {
    position: relative;
    padding-top: 170px;
}
.div-about {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 9px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.about-svg {
    width: 283px;
    height: 283px;
}
.about-h2 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.about-p{
    margin-top: 40px;
    font-size: 13px;
    line-height: 1.5;
    color: #939393;
}
.about-list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.t-18{
    margin-bottom: 50px;
}
.t-800{
    margin-bottom: 50px;
}
.about-li-p {
    font-size: 15px;
    line-height: 1.5;
    color: #939393;
}
.about-li-p-num{
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    color: #263238;
}
/* pricing */

.pricing-li-div{
    display: flex;
    margin: 0 auto;
    max-width: 170px;
    background-color: #EEEEEE;
    margin-top: 33px;
    padding: 5px 12px;
    border-radius: 5px;
}
.pricing {
    padding-top: 90px;
}

.pricing-h2{
    margin-bottom: 50px;
}

.pricing-h3{
    margin-bottom: 17px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.6;
    color: #263238;
}

.pricing-li + .pricing-li{
    margin-top: 65px;
}

.eng{
    font-size: 13px;
    line-height: 1.5;
}

.pricing-svg{
    display: block;
    margin: 0 auto;
}

.pricing-li-div-p1{
    margin-right: 10px;
    font-size: 18px;
    line-height: 1.5;
    color: #263238;
}
.div-pricing{
    max-width: 320px;
    padding-left: 19px;
    padding-right: 21px;
    margin: 0 auto;
    text-align: center;
}

.pricing-li-div-p2{
    align-items: center;
    font-size: 14px;
    line-height: 1.5;
    color: #546269;
}
/*contact*/
.contact{
    position: relative;
    padding-top: 193px;
    padding-bottom: 55px;
}

.div-contact{
    max-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
}

.contact-h2{
    position: absolute;
    transform: translateX(-50%);
    top: 75px;
    left: 50%;
}

.contact-svg {
    display: block;
    margin: 0 auto;
}

.contact-p {
    max-width: 287px;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 38px;
    text-align: center;

}

.contact-form {
    margin-top: 31px;
    position: relative;
}

.contact-form-active{
    font-size: 12px;
    line-height: 1.5;
    width: 291px;
    padding-left: 26px;
    margin-bottom: 17px;
    height: 50px;
    border: 1px solid #8F95A5;
    border-radius: 5px;
}

.contact-form-btn {
    width: 290px;
    font-size: 14px;
    color: #FFFFFF;
    padding: 20px 110px;
    background-color: #263238;
    border-radius: 5px;
    border: transparent;
}
/*footer*/
.div-footer{
    max-width: 320px;
    text-align: center;
    margin: 0 auto;
    padding: 26px 11px 48px 15px;
    position: relative;
}

.div-footer::before {
    content: '';
    background-color: #C4C4C4;
    position: absolute;
    width: 290px;
    height: 1px;
    left: 15px;
    top: 0;
}

.footer-nav{
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.footer-nav-item{
    max-width: 130px;
}

.footer-nav-item-link{
    font-weight: 500;
    font-size: 11px;
    line-height: 1.5;
    color: #8F95A5;
    position: relative;
}
.footer-nav-item-link:hover{
    text-decoration: underline;
}
.footer-nav-item + .footer-nav-item .footer-nav-item-link::before {
    width: 4px;
    height: 4px;
    content: '';
    position: absolute;
    top: 50%;
    left: -7px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: #8F95A5;
}

/*desktop-mobile-tablet*/

@media screen and (min-width:575px) {
    .header-container{
        max-width: 575px;
        padding-left: 32px;
        padding-right: 50px;
        padding-top: 39px;
    }

    .btn-modal{
        top: 50px;
        right: 50px;
    }

    .header-title{
        font-size: 30px;
    }
    
    .btn-head-svg{
        width: 42px;
        height: 24px;
    }
    /*main-head-575*/
    .head-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 1.3;
    color: #000000;
    }
    .head-title>span{
        display: inline;
    }
    .img-main-head{
        width: 424px;
        height: 424px;
    }
    .main-head{
        padding-right: 42px;
        padding-top: 11px;
        padding-left: 42px;
    }

    .btn-main-head{
        max-width: 305px;
        padding: 24px 102px;
    }
    .div-main-head{
        max-width: 575px;
    }
    .div-main-head p{
        font-size: 16px;
        margin-top: 26px;
        margin-bottom: 37px;
    }
    /*skill*/
    .skill-div{
        max-width: 575px;
    }
    .skill-list{
        grid-template-columns: 1fr 1fr;
        row-gap: 34px;
        column-gap: 30px;
    }
    .skill-list-li{
        padding-top: 0;
        padding-bottom: 38px;
        height: 534px;
    }
    .a{
        width: 185px;
        height: 185px;
    }
    .b{
        width: 182px;
        height: 182px;
    }
    .c{
        width: 198px;
        height: 132px;
    }
    .d{
        width: 206px;
        height: 137px;
    }
    .skill-li-h3{
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .skill-list-li-p + .skill-list-li-p{
        margin-top: 20px;
    }
    .skill-btn{
        position: absolute;
        bottom: 38px;
        left: 13px;
        width: 200px;
        padding: 14px 54px;
        margin: 0;
    }
    /*about*/
    .about{
        padding-top: 214px;
    }
    .about-li-p{
        max-width: 510px;
    }
    .about-svg{
        width: 352px;
        height: 352px;
    }
    .about-h2{
        top: 84px;
    }
    .about-list {
        max-width: 421px;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 46px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    .t-800 {
        margin-right: 97px;
        margin-bottom: 0;
    }
    .about-li-p {
        font-size: 14px;
    }
    .t-18 {
        margin-right: 75px;
        margin-bottom: 0;
    }
        /* pricing */
        .div-pricing{
            min-width: 575px;
            padding-left: 90px;
            padding-right: 91px;
        }
        .pricing-h2{
            margin-bottom: 60px;
        }
        .pricing-svg {
            margin-bottom: 18px;
        }
        .pricing-li-div-p1{
            margin-right: 7px;
            font-size: 24px;
        }
        .pricing-li-div-p2{
            font-size: 16px;
        }
        .pricing-li-div{
            max-width: 205px;
            padding: 6px 17px;
            margin-top: 31px;
        }
        .comp1{
            width: 291px;
            height: 291px;
        }
        .comp2{
            width: 314px;
            height: 241px;
        }
        .comp3{
            width: 253px;
            height: 253px;
        }
        .pricing-h3{
            margin-bottom: 21px;
            font-weight: 600;
            font-size: 24px;
            line-height: 1.2;
        }
        .eng{
            font-size: 14px;
        }
        .inc{
            width: 329px;
            margin: 0 auto;
        }
        /*contacts*/
        .contact{
            padding-top: 348px;
            padding-bottom: 144px;
        }
        .div-contact{
            max-width: 575px;
            padding: 0 32px;
        }
        .contact-h2{
            top: 165px;
        }
        .contact-svg {
            width: 358px;
            height: 322px;
        }
        .contact-p{
            margin: 0 auto;
            max-width: 469px;
            font-size: 16px;
        }
        .contact-form{
            margin-top: 60px;
        }
        .contact-form-active{
            padding-left: 25px;
            margin-bottom: 0;
            font-size: 13px;
            width: 511px;
            height: 60px;
        }
        .contact-form-btn{
            position: absolute;
            right: 0;
            width: 193px;
            height: 60px;
            padding: 21px 56px 15px;
            font-weight: 500;
            font-size: 16px;
        }
        /*footer*/
        .div-footer{
            display: flex;
            max-width: 575px;
            gap: 104px;
            align-items: center;
            padding-top: 24px;
            padding-bottom: 26px;
            padding-left: 33px;
            padding-right: 30px;
        }
        .div-footer::before{
            width: 510px;
            left: 33px;
        }
        .footer-nav{
            margin-top: 0;
        }
        .footer-nav-item{
            max-width: 135px;
        }
        .footer-nav-item-link{
            font-size: 12px;
        }
}
@media screen and (min-width:768px) {
    .header-container{
        max-width: 768px;
        padding-left: 39px;
        padding-right: 26px;
        padding-top: 39px;
    }
    .modal {
        width: 429px;
        padding-top: 39px;
        padding-right: 39px;
        padding-left: 26px;
    }
    .btn-modal{
        top: 53px;
        right: 39px;
    }
    .btn-head-svg{
        width: 30px;
        height: 17px;
    }
    .btn-head-svg-modal{
        width: 20px;
        height: 20px;
    }
    /*main-hero-768*/
    .main-head{
        padding-right: 0;
        padding-left: 0;
    }
    .img-main-head{
        width: 352px;
        height: 352px;
    }
    .div-main-head{
        max-width: 768px;
        padding-left: 39px;
        padding-right: 17px;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .div-main-text{
        max-width: 338px;
        text-align: start;
        align-items: start;
    }
    .head-title{
        font-size: 36px;
    }
    .head-title>span>span{
        display: block;
    }
    .head-title>span{
        display: inline;
    }
    .div-main-head p{
        margin-top: 25px;
        margin-bottom: 32px;
    }
    .btn-main-head{
        max-width: 236px;
        font-weight: 400;
        padding: 19px 67px;
    }
    .head-title::after{
        display: block;
    }
    /*skill*/
        .container-skills {
            max-width: 768px;
        }
        .skill-list{
            
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 441px 241px;
            gap: 7px;

        }
        .skill-list-li{
            border-radius: 10px;
            height: auto;
            padding-left: 16px;
            padding-bottom: 27px;
        }
        .skill-li-h3{
            font-size: 20px;
        }
        .skill-list{
            margin-left: 0;
        }
        .skill-item-btn{
            font-size: 16px;
            width: 178px;
            height: 50px;
            left: 20px;
            bottom: 27px;
            padding: 14px 42px;
        }
        .one{
            grid-row-start: 1;
            grid-row-end: 3;
        }
        .c{
            margin-bottom: 60px;
        }
        .four{
            padding-top: 12px;
            grid-column-start: 2;
            grid-column-end: 4;
            display: flex;
            flex-direction: row-reverse;
        }
        .skill-li-div .skill-list-li-p{
            max-width: 250px;
        }
        .four .d{
            width: 202px;
            height: 134px;
            align-self: flex-end;
        }
        .four .skill-li-h3{
            margin-top: 0;
            margin-bottom: 8px;
        }
        /*about*/
        .about{
            padding-top: 60px;
        }
        .div-about{
            max-width: 768px;
            flex-direction: row-reverse;
            text-align: start;
            justify-content: space-between;
            padding-left: 40px;
        }
        .about-h2{
            position: static;
            transform: translateX(0);
            text-align: start;
        }
        .about-p{
            max-width: 321px;
        }
        .about-list{
            max-width: 340px;
            margin-left: 0;
            margin-top: 30px;
        }
        .t-800{
            margin-right: 50px;
        }
        .t-18{
            margin-right: 45px;
        }
        .about-svg{
            width: 295px;
            height: 295px;
        }
        /*pricing*/
        .pricing-list{
            display: flex;
            text-align: left;
            align-items: baseline;
            justify-content: space-between;
        }
        .pricing {
            padding-top: 88px;
        }
        .div-pricing{
            min-width: 768px;
            padding-left: 37px;
            padding-right: 30px;
        }
        .pricing-h2{
            margin-bottom: 40px;
        }
        .comp1{
            width: 197px;
            height: 197px;
        }
        .comp2{
            width: 219px;
            height: 168px;
            margin-top: 50px;
        }
        .comp3{
            width: 210px;
            height: 210px;
            margin-top: 50px;
        }
        .pricing-svg {
            margin-bottom: 0;
        }
        .inc{
            max-width: 210px;
        }
        .pricing-li{
            max-width: 220px;
        }
        .pricing-li + .pricing-li{
            margin: 0;
        }
        .pricing-h3{
            font-size: 20px;
            max-width: 174px;
            margin-top: 7px;
        }
        .pricing-li-div{
            margin-right: auto;
            margin-left: auto;
        }
        .li-h3-3{
            max-width: 94px;
            margin-top: 0;
        }
        /*contact*/
        .contact{
            padding-top: 65px;
            padding-bottom: 112px;
        }
        .div-contact{
            max-width: 768px;
            display: flex;
            padding-left: 26px;
            padding-right: 39px;
        }
        .contact-h2{
            position: static;
            transform: translateX(0);
            text-align: left;
        }
        .contact-svg{
            width: 233px;
            height: 210px;
            align-self: end;
            margin-left: 0;
        }
        .contact-p{
            max-width: 400px;
            text-align: left;
            margin-left: 0;
            font-size: 14px;
        }
        .contact-form{
            margin-top: 26px;
            margin-bottom: 30px;
        }
        .contact-form-active{
            width: 283px;
            height: 50px;
            padding: 16px 24px;
            font-size: 12px;
        }
        .contact-form-btn{
            width: 145px;
            height: 50px;
            position: static;
            padding: 15px 39px;
            font-size: 13px;
        }
            /* footer */
        .div-footer{
            max-width: 768px;
            gap: 261px;
            padding-left: 38px;
            padding-right: 36px;
            padding-top: 18px;
            padding-bottom: 15px;
        }
        .div-footer::before {
            width: 690px;
            left: 39px;
        }
        .footer-nav-item {
            max-width: 145px;
        }
        .footer-nav-item-link{
            font-size: 13px;
        }
        .footer-nav-item + .footer-nav-item .footer-nav-item-link::before {
            width: 3px;
            height: 3px;
        }
}
@media screen and (min-width:992px){
    .header-container{
        max-width: 992px;
        padding-left: 31px;
        padding-right: 31px;
        padding-top: 25px;
    }
    .btn-modal{
        display: none;
    }
    .nav{
        display: flex;
    }
    .btn-head-svg{
        display: none;
    }
    /*main-head-992px*/
    .hero{
        padding-top: 81px;
    }
    .div-main-head{
        max-width: 992px;
        padding-left: 29px;
        padding-right: 21px;
    }
    .div-main-text{
        max-width: 421px;
    }
    .head-title{
        font-size: 48px;
        max-width: 290px;
    }
    .head-title::after{
        left: 302px;
        width: 62px;
        height: 62px;
    }
    .div-main-head p{
        margin-top: 27px;
        margin-bottom: 33px;
        font-size: 20px;
    }
    .btn-main-head{
        max-width: 292px;
        padding: 22px 78px;
        font-size: 24px;
    }
        /*skill*/
        .skill-div{
            max-width: 992px;
        }
        .skill-h2{
            font-size: 36px;
            margin-bottom: 4px;
        }
        .skill-list{
            gap: 13px;
        }
        .skill-list-li{
            padding-left: 28px;
            padding-bottom: 34px;
        }
        .skill-li-h3{
            font-size: 22px;
        }
        .skill-list-li-p{
            font-size: 14px;
            max-width: 324px;
        }
        .skill-btn{
            width: 196px;
            left: 28px;
            bottom: 34px;
            font-size: 18px;
            padding: 16px 42px;
        }
        .one .skill-btn{
            margin-bottom: 54px;
        }
        .a{
            width: 260px;
            height: 260px;
        }
        .b{
            width: 205px;
            height: 205px;
        }
        .c{
            width: 243px;
            height: 162px;
        }
        .d{
            width: 254px;
            height: 169px;
        }
        /*about*/
        .div-about{
            max-width: 992px;
        }
        .about-p{
            max-width: 535px;
            font-size: 14px;
        }
        .about-list{
            max-width: 535px;
        }
        .about-li-p-num{
            font-size: 30px;
        }
        .about-li-p{
            font-size: 16px;
        }
        .about-h2{
            font-size: 36px;
        }
        .about-svg{
            width: 335px;
            height: 335px;
        }
    /* pricing */
    .pricing {
        padding-top: 125px;
    }
    .pricing-h2{
        margin-bottom: 30px;
    }
    .div-pricing{
        max-width: 992px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .pricing-li{
        max-width: 300px;
    }
    .comp1{
        width: 222px;
        height: 222px;
    }
    .comp2{
        width: 267px;
        height: 195px;
    }
    .comp3{
        width: 242px;
        height: 242px;
    }
    .inc{
        margin: 0;
        max-width: 280px;
    }
    .pricing-li-div{
        margin-left: 0;
    }
    .pricing-h3{
        font-size: 22px;
        margin-top: 15px;
    }
    .pricing-list .pricing-h3 {
        max-width: none;
    }
    .pricing-list>p{
        font-size: 16px;
    }
    .online{
        max-width: 260px;
    }
    .page{
        margin-top: 31px;
    }
    .pricing-li-div-p1{
        font-size: 24px;
        margin-right: 5px;
    }
    .pricing-li-div-p2{
        font-size: 16px;
    }
        /* contacts */
        .contact{
            padding-top: 136px;
            padding-bottom: 157px;
        }
        .div-contact{
            max-width: 992px;
            padding-left: 13px;
            padding-right: 26px;
        }
        .contact-h2{
            margin-bottom: 3px;
            margin-left: 10px;
        }
        .contact-p {
            font-size: 16px;
            max-width: 450px;
        }
        .contact-svg{
            width: 312px;
            height: 281px;
        }
        .contact-form{
            margin-top: 34px;
            margin-bottom: 50px;
        }
        .contact-form-active{
            width: 323px;
            height: 60px;
            padding: 23px 38px 16px;
            margin-right: 14px;
            font-size: 14px;
            border-radius: 10px;
        }
        .contact-form-btn{
            width: 193px;
            height: 60px;
            padding: 21px 56px 15px;
            font-size: 16px;
            border-radius: 10px;
        }
        /*footer*/
        .div-footer{
            max-width: 992px;
            gap: 416px;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 22px;
            padding-bottom: 24px;
        }
        .div-footer::before {
            width: 929px;
            left: 32px;
        }
        .footer-nav{
            gap: 16px;
        }
        .footer-nav-item {
            max-width: 178px;
        }
        .footer-nav-item-link{
            font-size: 16px;
        }
        .footer-nav-item + .footer-nav-item .footer-nav-item-link::before {
            width: 4px;
            height: 4px;
            left: -10px;
        }

}
@media screen and (min-width:1600px){
    .title{
        font-size: 48px;
        line-height: 1.5;
    }
    .header-container{
        max-width: 1600px;
        padding-left: 131px;
        padding-right: 131px;
        padding-top: 55px;
    }
    .nav-menu{
        margin-left: 236px;
        margin-right: 121px;
        gap: 50px;        
    }
    .btn-modal{
        position: absolute;
        top: 25px;
        right: 7px;
        background-color: transparent;
        border: transparent;
    }
    .header-title{
        font-size: 36px;
    }
    .nav-menu-item-link{
        font-size: 20px;
    }
    .btn-head-svg{
        display: none;
    }
    /*main-head-1600*/
    .main-head{
        padding-top: 63px;
    }

    .div-main-head{
        max-width: 1600px;
        padding: 0 131px 0;
    }
    .div-main-text{
        max-width: 540px;
    }
    .head-title{
        max-width: 386px;
        font-size: 64px;
        line-height: 1.25;
    }
    .head-title::after{
        left: 420px;
        width: 120px;
        height: 120px;
    }
    .div-main-head p{
        margin-top: 40px;
        margin-bottom: 60px;
        font-size: 24px;
    }
    .btn-main-head{
        font-size: 36px;
        max-width: 426px;
        padding: 23px 102px;
    }
    /*skill*/
    .skill-div{
        max-width: 1600px;
        padding: 0 131px;
    }
    .skill-h2{
        font-size: 48px;
        line-height: 1.5;
        margin-bottom: 60px;
    }
    .skill-list {
        grid-template-rows: 579px 338px;
    }
    .skill-list-li{
        padding-bottom: 32px;
    }
    .a{
        width: 390px;
        height: 390px;
    }
    .b{
        width: 390px;
        height: 264px;
    }
    .c{
        width: 390px;
        height: 264px;
        margin-bottom: 0;
    }
    .d{
        width: 408px;
        height: 274px;
    }
    .one{
        padding-bottom: 154px;
    }
    .skill-li-h3{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .skill-list-li-p{
        font-size: 16px;
    }
    .skill-btn{
        font-size: 20px;
        padding: 15px 52px;
        width: 218px;
    }
    .four .skill-li-h3{
        margin-top: 32px;
    }
    /*about*/
    .div-about{
        max-width: 1600px;
        padding: 0 132px;
    }
    .about-p{
        margin-top: 60px;
        max-width: 652px;
        font-size: 20px;
        line-height: 1.8;
        margin-bottom: 30px;
    }
    .about-li-p-num{
        font-size: 48px;
    }
    .about-h2{
        font-size: 48px;
    }
    .about-svg{
        width: 540px;
        height: 540px;
    }
        /* pricing */
        .div-pricing{
            max-width: 1600px;
            padding-left: 131px;
            padding-right: 131px;
        }
        .pricing{
            padding-top: 204px;
        }
        .pricing-li{
            max-width: 426px;
        }
        .pricing-h2{
            margin-bottom: 60px;
        }
        .comp1{
            width: 280px;
            height: 280px;
        }
        .comp2{
            width: 380px;
            height: 250px;
        }
        .comp3{
            width: 315px;
            height: 280px;
        }
        .pricing-h3{
            margin-bottom: 20px;
            margin-top: 50px;
            font-size: 30px;
        }
        .li-h3-3{
            margin-top: 40px;
        }
        .li-h3-2{
            margin-bottom: 17px;
        }
        .pricing-list> p {
            font-size: 20px;
            max-width: none;
        }
        .inc{
            width: 426px;
        }
        .online{
            width: 426px;
        }
        .eng{
            width: 426px;
        }
        .pricing-li-div{
            max-width: 240px;
            padding: 4px 23px;
        }
        .pricing-li-div-p2{
            font-size: 18px;
        }
        .pricing-li-div-p1{
            margin-right: 20px;
        }
        .price-2, .price-3 {
            margin-top: 60px;
        }
         /* contacts */
    .contact{
        padding-top: 180px;
        padding-bottom: 133px;
    }
    .div-contact{
        max-width: 1600px;
        padding-left: 132px;
        padding-right: 131px;
    }
    .contact-h2{
        margin-bottom: 60px;
        margin-left: 0px;
    }
    .contact-svg{
        width: 425px;
        height: 430px;
    }
    .contact-p{
        font-size: 20px;
        max-width: 654px;
    }
    .contact-form-active{
        width: 425px;
        height: 70px;
        padding: 20px 30px;
        margin-right: 30px;
        font-size: 16px;
    }
    .contact-form-btn{
        width: 312px;
        height: 70px;
        padding: 20px 56px;
        font-size: 20px;
        letter-spacing: 0.03em;
    }
    /*footer*/
    .div-footer{
        max-width: 1600px;
        gap: 454px;
        padding-left: 132px;
        padding-right: 131px;
        padding-bottom: 77px;
    }
    .div-footer::before {
        width: 1333px;
        left: 131px;
    }
    .footer-nav{
        gap: 80px;
    }
    .footer-nav-item {
        max-width: 282px;
    }
    .footer-nav-item-link{
        font-size: 24px;
        letter-spacing: 0.02em;
    }
    .footer-nav-item + .footer-nav-item .footer-nav-item-link::before {
        display: none;
    }
}   